#undef ZMK_POINTING_DEFAULT_SCRL_VAL

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100
#define MOUSE 4
#define SCROLL 5
#define NUM 6

#include <scroll-snap.dtsi>
#include <input/processors.dtsi>
#include <mouse-gesture.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/* スクロールスナップ */

&zip_scroll_snap {
    x-threshold = <5 8>;
    y-threshold = <8 5>;
    xy-threshold = <5 8>;
    require-n-samples = <3>;
    immediate-snap-threshold = <500>;
    lock-duration-ms = <200>;
    lock-for-next-n-events = <10>;
    idle-reset-timeout-ms = <200>;
};

/* マウスジェスチャー */

&zip_mouse_gesture {
    stroke-size = <150>;
    enable-eager-mode;

    history_back {
        pattern = <GESTURE_RIGHT>;
        bindings = <&kp LA(LEFT)>;
    };

    history_forward {
        pattern = <GESTURE_LEFT>;
        bindings = <&kp LA(RIGHT)>;
    };

    close_tab {
        pattern = <GESTURE_DOWN GESTURE_RIGHT>;
        bindings = <&kp LA(F4)>;
    };

    new_tab {
        pattern = <GESTURE_DOWN GESTURE_LEFT>;
        bindings = <&kp LC(T)>;
    };

    app_switcher {
        pattern = <GESTURE_DOWN GESTURE_UP>;
        bindings = <&kp LG(TAB)>;
    };

    virtual_desktop_prev {
        pattern = <GESTURE_LEFT GESTURE_DOWN>;
        bindings = <&kp LG(LC(LEFT))>;
    };

    virtual_desktop_next {
        pattern = <GESTURE_RIGHT GESTURE_DOWN>;
        bindings = <&kp LG(LC(RIGHT))>;
    };
};

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&mouse_gesture_kp {
    tapping-term-ms = <200>;
    quick-tap-ms = <250>;
    flavor = "balanced";
};

&mouse_gesture_mkp {
    tapping-term-ms = <200>;
    quick-tap-ms = <250>;
    flavor = "balanced";
};

/ {
    combos {
        compatible = "zmk,combos";

        mb1 {
            bindings = <&mkp MB1>;
            key-positions = <18 19>;
            layers = <2 1 0>;
            timeout-ms = <100>;
        };

        mb2 {
            bindings = <&mkp MB2>;
            key-positions = <19 20>;
            layers = <2 0 1>;
        };

        app_switch {
            bindings = <&kp F3>;
            key-positions = <13 12>;
            layers = <0>;
            timeout-ms = <100>;
        };

        globe {
            bindings = <&kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT>;
            key-positions = <20 21>;
            layers = <0>;
        };
    };

    macros {
        bt0_mac: bt0_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&tog_off 0 &tog_off 1 &tog_off 2>,
                <&macro_wait_time 200>,
                <&bt BT_SEL 0>,
                <&macro_wait_time 500>,
                <&tog_on 0>;

            label = "bt0_mac";
        };

        bt1_ipad: bt1_ipad {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&tog_off 0 &tog_off 1 &tog_off 2>,
                <&macro_wait_time 200>,
                <&bt BT_SEL 1>,
                <&macro_wait_time 500>,
                <&tog_on 1>;

            label = "bt1_ipad";
        };

        bt2_ipad: bt2_ipad {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&tog_off 0 &tog_off 1 &tog_off 2>,
                <&macro_wait_time 200>,
                <&bt BT_SEL 2>,
                <&macro_wait_time 500>,
                <&tog_on 1>;

            label = "bt2_ipad";
        };

        bt3_msol: bt3_msol {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&tog_off 0 &tog_off 1 &tog_off 2>,
                <&macro_wait_time 200>,
                <&bt BT_SEL 3>,
                <&macro_wait_time 500>,
                <&tog_on 2>;

            label = "BT3_MSOL";
        };

        bt4_kd: bt4_kd {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&tog_off 0 &tog_off 1 &tog_off 2>,
                <&macro_wait_time 200>,
                <&bt BT_SEL 4>,
                <&macro_wait_time 500>,
                <&tog_on 2>;

            label = "BT4_KD";
        };

        jira_date_del: jira_date_del {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp F2 &kp LC(A) &kp DEL &kp ENTER &kp DOWN>;
            label = "JIRA_DATE_DEL";
        };

        all_disc: all_disc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_DISC 0 &bt BT_DISC 1 &bt BT_DISC 2 &bt BT_DISC 3 &bt BT_DISC 4>;
            label = "ALL_DISC";
        };

        alt_layer3: alt_layer3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;

            // 押している間だけ Layer3 + LEFT_ALT を両方押す
            // 離したら両方離す

            bindings =
                <&macro_press>,
                <&mo 3 &kp LEFT_ALT>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&mo 3 &kp LEFT_ALT>;
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&bt0_mac>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        //エンコーダーでホイール

        scroll_up_down: behavior_sensor_rotate_mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

            // 追加: スクロールのタップ時間を設定 (20ms)

            tap-ms = <20>;
        };

        tog_on: toggle_layer_on_only {
            compatible = "zmk,behavior-toggle-layer";
            #binding-cells = <1>;
            display-name = "Toggle Layer On";
            toggle-mode = "on";
        };

        tog_off: toggle_layer_off_only {
            compatible = "zmk,behavior-toggle-layer";
            #binding-cells = <1>;
            display-name = "Toggle Layer Off";
            toggle-mode = "off";
        };

        alt3_ht: alt3_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "ALT3_HOLD_TAP";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;

            // hold 側: alt_layer3 マクロ
            // tap 側: 通常の &kp（キーは呼び出し側で指定）

            bindings = <&alt_layer3>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Mac {
            bindings = <
&kp Q           &kp W         &kp E      &kp R                        &kp T                                             &kp Y        &kp U  &kp I      &kp O       &kp P
&mt LEFT_GUI A  &kp S         &kp D      &kp F                        &kp G        &kp G                 &mkp MB4       &kp H        &kp J  &lt 4 K    &kp L       &lt 8 MINUS
&kp Z           &kp X         &kp C      &kp V                        &kp B        &kp TAB               &mkp MB5       &kp N        &kp M  &kp COMMA  &kp PERIOD  &kp SLASH
&kp LEFT_GUI    &kp LEFT_ALT  &kp LCTRL  &mt LEFT_SHIFT INT_MUHENKAN  &lt 3 SPACE  &lt 4 INT_HENKAN      &kp BACKSPACE  &lt 5 ENTER                                &lt 7 LS(LC(M))
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        ipad {
            bindings = <
&kp Q         &kp W         &kp E      &kp R                      &kp T                                               &kp Y        &kp U  &kp I      &kp O       &kp P
&kp A         &kp S         &kp D      &kp F                      &kp G        &kp G                 &kp LG(LS(TAB))  &kp H        &kp J  &lt 4 K    &kp L       &lt 8 MINUS
&kp Z         &kp X         &kp C      &kp V                      &kp B        &lt 0 LG(TAB)         &kp LG(H)        &kp N        &kp M  &kp COMMA  &kp PERIOD  &kp SLASH
&kp LEFT_WIN  &kp LEFT_ALT  &kp LCTRL  &mt LEFT_SHIFT LANGUAGE_2  &lt 3 SPACE  &lt 4 LANGUAGE_1      &kp BACKSPACE    &lt 5 ENTER                                &lt 7 LS(LC(M))
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        Windows {
            bindings = <
&kp Q             &kp W                &kp E         &kp R                        &kp T                                             &kp Y        &kp U                  &kp I      &kp O       &kp P
&kp A             &kp S                &kp D         &kp F                        &kp G        &kp G                 &mkp MB4       &kp H        &mouse_gesture_kp 0 J  &lt 4 K    &kp L       &lt 6 MINUS
&mt LEFT_SHIFT Z  &kp X                &kp C         &kp V                        &kp B        &lt 0 LG(TAB)         &mkp MB5       &kp N        &kp M                  &kp COMMA  &kp PERIOD  &kp SLASH
&kp LCTRL         &alt3_ht 0 LEFT_ALT  &kp LEFT_WIN  &mt LEFT_SHIFT INT_MUHENKAN  &lt 3 SPACE  &lt 4 INT_HENKAN      &kp BACKSPACE  &lt 5 ENTER                                                &lt 7 LS(LC(M))
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        Mouse {
            bindings = <
&kp ESCAPE      &kp F2           &trans            &trans             &trans                                  &trans    &kp BACKSPACE  &kp DELETE      &trans     &trans
&kp TAB         &kp PERCENT      &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LS(N8)  &trans      &jira_date_del  &trans    &mkp MB1       &lt 4 UP_ARROW  &mkp MB2   &trans
&kp LEFT_SHIFT  &kp EXCLAMATION  &kp APOS          &kp BACKSLASH      &kp LS(N9)  &trans      &trans          &kp HOME  &kp LEFT       &kp DOWN_ARROW  &kp RIGHT  &kp END
&trans          &trans           &kp SEMI          &kp TAB            &trans      &trans      &trans          &trans                                              &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        Scroll {
            bindings = <
&trans  &trans  &trans  &trans  &trans                                   &trans  &trans    &trans  &trans    &trans
&trans  &trans  &trans  &trans  &trans        &trans             &trans  &trans  &mkp MB1  &trans  &mkp MB2  &trans
&trans  &trans  &trans  &trans  &kp LG(LEFT)  &kp LG(RIGHT)      &trans  &trans  &trans    &trans  &trans    &trans
&trans  &trans  &trans  &trans  &trans        &trans             &trans  &trans                              &trans
            >;
        };

        Num {
            bindings = <
&kp MINUS          &kp NUMBER_7  &kp NUMBER_8  &kp N9        &kp PLUS                                  &trans                   &kp BACKSPACE  &kp DELETE    &trans     &trans
&kp N0             &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp LS(SEMI)   &trans             &trans  &kp LG(BACKSLASH)        &mkp MB1       &kp UP_ARROW  &mkp MB2   &trans
&mt LEFT_SHIFT N0  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp LS(MINUS)  &kp LS(EQUAL)      &trans  &kp LS(INTERNATIONAL_1)  &kp LEFT       &kp DOWN      &kp RIGHT  &trans
&trans             &trans        &kp PERIOD    &trans        &trans         &trans             &trans  &trans                                                           &trans
            >;
        };

        Function {
            bindings = <
&trans  &kp F7  &kp F8  &kp F9   &trans                                   &bt3_msol                &bt0_mac  &kp DELETE    &trans     &trans
&trans  &kp F4  &kp F5  &kp F6   &trans        &trans             &trans  &bt4_kd                  &mkp MB1  &kp UP_ARROW  &bt1_ipad  &trans
&trans  &kp F1  &kp F2  &kp F3   &kp LG(LEFT)  &kp LG(RIGHT)      &trans  &kp LS(INTERNATIONAL_1)  &kp LEFT  &kp DOWN      &kp RIGHT  &trans
&trans  &trans  &trans  &kp F10  &trans        &trans             &trans  &trans                                                      &trans
            >;
        };

        Zmk {
            bindings = <
&trans        &trans        &trans        &trans        &trans                                      &bt0_mac  &bt1_ipad  &bt2_ipad  &bt3_msol  &bt4_kd
&kp NUMBER_0  &kp NUMBER_4  &trans        &trans        &trans  &bt BT_CLR_ALL      &studio_unlock  &trans    &trans     &trans     &trans     &trans
&bt BT_CLR    &kp N1        &kp NUMBER_2  &kp NUMBER_3  &trans  &trans              &trans          &trans    &trans     &trans     &trans     &all_disc
&trans        &trans        &trans        &trans        &trans  &trans              &trans          &trans                                     &trans
            >;
        };

        iPad_tcc {
            bindings = <
&trans  &trans  &trans  &trans  &trans                             &bt3_msol  &bt0_mac  &kp I  &trans          &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans         &bt4_kd    &kp S     &kp K  &kp LEFT_SHIFT  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans         &kp LS(X)  &kp N     &kp J  &trans          &trans
&trans  &trans  &trans  &trans  &trans  &trans      &kp BACKSPACE  &kp ENTER                                   &trans
            >;
        };
    };
};
